@(breadcrumb: uk.gov.hmrc.play.breadcrumb.model.Breadcrumb, showLastItem: Boolean = false)

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group">
      @breadcrumb.map { item =>
          item.function.fold{
            <li><a href="@item.url">@item.text</a></li>
          }
          {
            <li><a href="@item.url" onclick="@item.function">@item.text</a></li>
          }
      }
      @breadcrumb.lastItem.filter(i => showLastItem).map { item =>
        <li>@item.text</li>
      }
    </ol>
  </nav>
</div>
